<!-- $Id: exchange_goods_info.htm 15544 2009-01-09 01:54:28Z zblikai $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,selectzone.js,validator.js,jquery-3.3.1.min.js"}
<!-- start cards form -->
<div class="tab-div">
<form  action="amount_card.php" method="post" name="theForm" onsubmit="return validate();">
  <table width="90%" id="general-table">
    <input type='text' name='amount_id' value= "{$cards.amount_id}" style="display: none"/>
    <tr>
      <td align="right" class="label"><a href="javascript:showNotice('noticeAmountlist');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>{$lang.amount_list}</td>
      <td><input type="text" name="amount_list" size="30" value="{$cards.amount_list}" {if $cards.amount_list} readonly="readonly"{/if} /><span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="noticeAmountlist">{$lang.notice_amount_list}</span></td>
    </tr>
    <tr>
      <td align="right" class="label"><a href="javascript:showNotice('noticeAmountnumber');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>{$lang.amount_number}</td>
      <td><input type="text" name="amount_number" id="amount_number" size="30" value="{$cards.amount_number}" {if $cards.amount_number} readonly="readonly"{/if}/><a href="javascript:autoCreateNumOrPassword('amount_number')">{$lang.autoCreateNum}</a><span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="noticeAmountnumber">{$lang.notice_amount_number}</span></td>
    </tr>
    <tr>
      <td align="right" class="label"><a href="javascript:showNotice('noticeAmountpassword');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>{$lang.amount_password}</td>
      <td><input type="text" name="amount_password" id="amount_password" size="30" value="{$cards.amount_password}" {if $cards.amount_password} readonly="readonly"{/if}/><a href="javascript:autoCreateNumOrPassword('amount_password')">{$lang.autoCreatePass}</a><span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="noticeAmountpassword">{$lang.notice_amount_password}</span></td>
    </tr>
    <tr>
      <td align="right" class="label">{$lang.amount_status}</td>
      <td>
        <input type="radio" name="amount_status" value="0" {if $cards.amount_status eq 0}checked{/if}> {$lang.down}
        <input type="radio" name="amount_status" value="1" {if $cards.amount_status eq 1}checked{/if}> {$lang.up}
      </td>
    </tr>
    <tr>
      <td align="right" class="label"><a href="javascript:showNotice('noticeAmountcount');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>{$lang.amount_count}</td>
      <td><input type="text" name="amount_count" size="30" value="{$cards.amount_count}" /><span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="noticeAmountcount">{$lang.notice_amount_count}</span></td>
    </tr>
    <tr>
      <td align="right" class="label"><a href="javascript:showNotice('noticeExprydate');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>{$lang.expry_date}</td>
      <td><input type="date" name="expry_date" size="30" value="{$cards.expry_date}" /><span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="noticeExprydate">{$lang.notice_expry_date}</span></td>
    </tr>
  </table>

  <div class="button-div">
    <input type="hidden" name="act" value="{$form_action}" />
    <input type="submit" value="{$lang.button_submit}" class="button"  />
    <input type="reset" value="{$lang.button_reset}" class="button" />
  </div>
</form>
</div>
<!-- end goods form -->
<script language="JavaScript">

{literal}
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}

function validate()
{
  var validator = new Validator('theForm');
  validator.isNullOption("amount_list",amount_list);
  validator.isAmountNumber("amount_number",amount_number, true);
  validator.isAmountPassword("amount_password",amount_password,true);
  validator.isNullOption("amount_count",amount_count);
  validator.isNullOption("expry_date",expry_date);

  return validator.passed();
}

/**
*自动生成代金卡号函数
**/
function autoCreateNumOrPassword(obj){
  var amount_number = "JZC";
  amount_number = amount_number+new Date().valueOf()+RndNum(4);
  var str = '';
  for(var i=0;i<4;i++){
    if(i<3){
      str +=randomWord(false,4,5)+"-";
    }else{
      str +=randomWord(false,4,5);
    }  
  }
  if(obj === "amount_number"){
     document.getElementById(obj).value = amount_number;
  }else{
    document.getElementById(obj).value = str;
  }
 
}

//产生随机数函数
function RndNum(n){
    var rnd="";
    for(var i=0;i<n;i++)
        rnd+=Math.floor(Math.random()*10);
    return rnd;
}

/*
** randomWord 产生任意长度随机字母数字组合
** randomFlag-是否任意长度 min-任意长度最小位[固定位数] max-任意长度最大位
** xuanfeng 2014-08-28
*/
 
function randomWord(randomFlag, min, max){
    var str = "",
        range = min,
        arr = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'];
 
    // 随机产生
    if(randomFlag){
        range = Math.round(Math.random() * (max-min)) + min;
    }
    for(var i=0; i<range; i++){
        pos = Math.round(Math.random() * (arr.length-1));
        str += arr[pos];
    }
    return str;
}
{/literal}
</script>
{include file="pagefooter.htm"}